@import "./_mixin.scss";
button {
  border-style: none;
  cursor: pointer;
  a {
    width: 100%;
    height: 100%;
  }
}
.button {
  border-radius: 10px;
  padding: 13px 0px;
  width: 100%;
  font-size: 16px;
  a {
    width: 100%;
    height: 100%;
  }
}

.btn--primary {
  @extend .button;
  background-color: $color-primary-100;
  color: $color-white;
  a {
    color: $color-white;
  }
}

.btn--secondary {
  @extend .button;
  background-color: $color-secondary-100;
  color: $color-black-100;
  a {
    color: $color-black-100;
  }
}

.btn--negative {
  @extend .button;
  background-color: $color-negative-100;
  color: $color-white;
  a {
    color: $color-white;
  }
}

.btn--disabled {
  @extend .btn--primary;
  background-color: $color-black-10;
  color: $color-black-60;
}

.btn--border {
  @extend .button;
  background-color: transparent;
  border: 1px solid $color-primary-dark;
  color: $color-primary-dark;
  a {
    color: $color-primary-dark;
  }
}

.btn--naver {
  @extend .button;
  background-color: $color-naver;
  a {
    @include layout(row, center, center);
    color: $color-white;
    gap: 10px;
  }
}

.btn--transparent {
  background-color: transparent;
  color: $color-black-100;
  font-weight: 600;
}

.btn--lg {
  @extend .button;
  height: 120px;
}

.btn--sm {
  width: auto;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
