@import "./_mixin.scss";
button {
  border-style: none;
  cursor: pointer;
  a {
    width: 100%;
    height: 100%;
  }
}
.button {
  border-radius: 10px;
  padding: 13px 0px;
  width: 100%;
  font-size: 16px;
  a {
    width: 100%;
    height: 100%;
  }
}

.btn--primary {
  @extend .button;
  background-color: $color-primary-100;
  color: $color-white;
  a {
    color: $color-white;
  }
}

.btn--secondary {
  @extend .button;
  background-color: $color-secondary-100;
  color: $color-black-100;
  a {
    color: $color-black-100;
  }
}

.btn--negative {
  @extend .button;
  background-color: $color-negative-100;
  color: $color-white;
  a {
    color: $color-white;
  }
}

.btn--disabled {
  @extend .btn--primary;
  background-color: $color-black-10;
  color: $color-black-60;
}

.btn--border {
  @extend .button;
  background-color: transparent;
  border: 1px solid $color-primary-dark;
  color: $color-primary-dark;
  a {
    color: $color-primary-dark;
  }
}

.btn--border--black {
  background-color: transparent;
  border: 1px solid $color-black-60;
  color: $color-black-60;
}

.btn--naver {
  @extend .button;
  background-color: $color-naver;
  @include layout(column, center, center);
  // color: $color-white;
  // gap: 10px;
  padding: 0px;
}

.btn--transparent {
  background-color: transparent;
  color: $color-black-100;
  font-weight: 600;
}

.btn--lg {
  @extend .button;
  height: 120px;
}

.btn--md {
  @extend .button;
}

.btn--sm {
  width: auto;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn--sm-2 {
  width: auto;
  padding: 5px 20px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* 스타일 바인딩 */

.btnPrimary {
  background-color: $color-primary-100;
  color: $color-white;
}

.btnDisabled {
  background-color: $color-black-10;
  color: $color-black-60;
  cursor: auto;
}

/* 마이페이지에서 사장님 서비스로 이동 버튼 */
.btn__owner-service {
  @extend .btn--secondary;
  border-radius: 15px;
  color: $color-black-80;
  position: absolute;
  width: 160px;
  right: 50%;
  bottom: 5%;
  margin: 0 -45% 0 -45%;
  z-index: 50;
  position: fixed;
  border: 2px solid $color-white;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 600;
}

// #naver_id_login {
//   display: none;
// }
