.card__wrapper--column {
  @include layout(column, center, center);
  width: 100%;
  gap: 12px;
  .card {
    @include layout(column, flex-start, flex-start);
    gap: 10px;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(147, 147, 147, 0.25);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 16px;
    .card__title {
      font-size: 16px;
      font-weight: 700;
    }
    .card__text {
      font-size: 12px;
      font-weight: 300;
      color: $color-black-60;
    }
  }

  // 커뮤니티 게시판 글
  .community__card {
    @extend .card;
    box-shadow: none;
    border-bottom: 1px solid $color-black-10;
    border-radius: 0;
    .card__title {
      @include font(14px, 500, $color-black-100);
      cursor: pointer;
    }
    .card__text {
      @include font(12px, 300, $color-black-60);
      @include layout(row, flex-start, space-between);
    }
  }
  // 카페 검색 리스트
  .cafe__card {
    @include layout(column, flex-start, center);
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid $color-black-10;
    padding-bottom: 10px;
    .text__name {
      font-size: 14px;
      color: $color-black-dark;
    }
    .text__addr {
      font-size: 14px;
      color: $color-black-80;
    }
  }
}

// 추천 게시판 글
.recommend__card {
  @include layout(row, center, space-between);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 16px;
  border: 1px solid $color-black-10;
  .card__name {
    @include font(14px, 500, $color-black-100);
    cursor: pointer;
  }
  .card__addr {
    @include font(12px, 300, $color-black-60);
    @include layout(row, flex-start, flex-start);
  }
  .card__wrapper--row {
    @include layout(row, center, flex-end);
    width: auto;
    gap: 10px;
    .card__ic {
      @include layout(row, center, flex-end);
      gap: 5px;
      span {
        @include font(12px, 300, $color-black-100);
      }
    }
  }
}

/* 리뷰 조회 */
.review__card {
  @include layout(column, flex-start, center);
  gap: 10px;
  .card__info {
    @include layout(column, flex-start, center);
    gap: 8px;
    .card__user {
      @include layout(row, flex-start, flex-start);
      gap: 13px;
      .text__nickname {
        @include font(12px, 700, $color-black-100);
      }
      .text__date {
        @include font(12px, 300, $color-black-60);
      }
    }
    .text__content {
      @include font(12px, 400, $color-black-80);
      line-height: 22px;
    }
    .rate__stars {
      color: $color-secondary-dark;
      @include layout(row, center, flex-start);
      gap: 5px;
    }
  }
}
