.mypage-main {
  @include layout(column, flex-start, flex-start);
  box-sizing: border-box;
  padding: 20px 0px 0px 0px;
  height: auto;
  box-shadow: 0px 2px 4px rgba(147, 147, 147, 0.25);
  .page-title {
    @extend .page-title;
    width: 100%;
  }
  .mypage__wrapper {
    @include layout(column, center, center);
    .mypage__user-info {
      width: 100%;
      @include layout(row, center, center);
      .mypage-main__text-croffler {
        font-size: 16px;
        font-weight: 700;
        color: $color-primary-dark;
      }
      .mypage-main__text-id {
        font-size: 14px;
        font-weight: 500;
        color: $color-black-100;
      }
    }
    p {
      font-size: 12px;
      color: $color-black-80;
      font-weight: 400;
    }
  }
  .btn__wrapper {
    width: 100%;
    margin-top: 20px;
    @include layout(row, center, center);
    .btn__mypage {
      width: 50%;
      padding: 15px;
      color: $color-primary-dark;
    }
  }
}

.mypage-nickname {
  @include layout(column, flex-start, flex-start);
  box-sizing: border-box;
  padding: 20px;
  height: 100vh;
  header {
    position: relative;
    top: 15%;
    h1 {
      color: $color-primary-dark;
      font-size: 24px;
      font-weight: 700;
      margin: 0 0 15px 0;
    }
    span {
      color: $color-black-60;
      font-size: 14px;
      font-weight: 400;
    }
  }
  form {
    width: 100%;
    position: relative;
    top: 20%;
    .input__box {
      input {
        width: 70%;
      }
      .btn__duplicate {
        position: absolute;
        right: 0;
        top: 30px;
        width: 28%;
        font-size: 14px;
        font-weight: 300;
      }
      .error-message {
        position: absolute;
        top: 84px;
        font-size: 12px;
        color: $color-negative-100;
        font-weight: 400;
      }
    }
  }
}
button {
  position: relative;
  top: 30%;
}
