.recommend {
  gap: 24px;
  @include layout(column, center, center);
  .select__wrapper {
    @include layout(column, flex-end, center);
    select {
      border: 1px solid $color-black-40;
      @include font(12px, 400, $color-black-60);
      padding: 6px 12px;
      border-radius: 5.5px;
    }
  }
}
